.pecture {
    background: url('https://simplonline-v3-prod.s3.eu-west-3.amazonaws.com/media/image/jpg/plan-69159a65c5684763515973.jpg') no-repeat;
    background-size:cover;
    background-position:center;
    
    display: grid;
    grid-template-columns: minmax(260px, 1fr ) 116px repeat(2, 1fr);
    grid-template-rows: repeat(3 ,1fr); 
    
    grid-template-areas: 
     ' item1 . item2 item3'
     ' item4 . . . '
     ' item4 . item5  item6';
    }

.pecture p , button{
    position:relative;
    top: 35%; 
}

.pecture button{
    padding: 2px 14px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(46, 86, 228, 0.884);
    color: azure;

}
/* 
.gallery-item {
  position: relative;
  padding-top: 20px;
} */
/* 
.gallery-item .add-item {
  position: absolute;
  bottom: 10px;
  right: 10px;
} */

.room-workers {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

   .item1{
    grid-area: item1;
    /* background-color: rgba(0, 255, 0, 0.39); */
  
  
    }
   
   .item2{
    grid-area: item2;
    /* background-color: rgba(40, 220, 220, 0.329);  */
 
   }
   .item3{
    grid-area: item3;
    /* background-color: rgba(42, 207, 233, 0.678);  */
 

   }
   .item4{
    grid-area: item4;
   
   }
   .item5{
    grid-area: item5;
  
   }

   .item6{
    grid-area: item6;
    /* background-color:rgba(255, 0, 0, 0.683);   */
     
   }



 

   
  
   

    

